.fs{
	background-color:#F9F867  ;
	border:10px solid yellow;
	margin-top:10px;
	width:720 px;
	
}
.l:hover{
	font-size:40px;
	width:180px;
	display:inline-block;
      text-align: right;
	  text-align:top;
  
}

.cr{
	width:auto;
	display:inline-block;
      text-align: right;
	  text-align:top;
}
.r{ width:45px; 
    background-color:red;
	text-align: center;
}
.p{ width:45px;
	 background-color:pink;
	text-align: center;
}
	
.t{
	width:360px;
	height="50px;
}
	#preview{
<script src="https://www.cse.ust.hk/~rossiter/dating_web_site.js"></script>
}